.projects {

    column-count: 2;
    column-gap: 2em;
}

.project {

    display: inline-block;
    width: 100%;
    margin: 10px auto 20px auto;
    padding: 25px;
    background-color: #fefff7;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px 2px #adadaf;
}

.preview {

    display: inline;
    height: 150px;
    margin: 3px 2px 3px 2px;
}

@media only screen and (max-width: 768px) {

    .projects {

        column-count: 1;
    }

    .preview {

        height: 100px;
    }
}
