html {

    width: 85%;
    margin: auto;
}

@media only screen and (max-width: 768px) {

    html {

        width: 95%;
    }
}

.button-wrapper {

    margin-top: 25px;
    text-align: right;
}

.align-left {

    margin: auto;
    text-align: left;
}