form {

    padding: 10px;
}

input[type="text"], input[type="file"], textarea {
    width: 100%;
}

.fieldwrapper {

    width: 50%;
    margin: 20px auto 20px auto;
}

@media only screen and (max-width: 768px) {

    .fieldwrapper {

        width: 100%;
    }
}

.submitwrapper {

    margin-top: 50px;
}
