<!DOCTYPE html>
{% load static %}

<html>

<head>
  <meta charset="UTF-8">
  <title>Home - Gonzalez Welding</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/gwm.css' %}">
  {% block link %}
  {% endblock %}
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlinks">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div>
      <!-- <img class="img-circle logo" src=""> -->
      <span class="navbar-brand"> GWM </span>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navlinks">
    <ul class="nav navbar-nav nav-pills">
      <li id="home">
        <a href="{% url 'pages:home' %}">Home</a>
      </li>
      <li id="about">
        <a href="{% url 'pages:about' %}">About</a>
      </li>
      <li id="work">
        <a href="{% url 'pages:work' %}">Work</a>
      </li>
      <li id="testimonials">
        <a href="{% url 'pages:testimonials' %}">Testimonials</a>
      </li>
      <li id="contact">
        <a href="{% url 'pages:contact' %}">Contact</a>
      </li>
    </ul>
  </div>

</nav>
<!-- End Navigation -->

<!-- Content -->
<div class="text-center">

  <!-- Header -->
  <h1 class="gwm-header1">
    <span class="gwm-letter">G</span>onzalez
    <span class="gwm-letter">W</span>elding
    <span class="gwm-letter">M</span>obile
  </h1>

  <p class="gwm-header2">
    Mobile Welding Rig at your side. Anytime, Anyplace, Anywhere!
  </p>

  <button type="button" class="btn-circle">
    <i class="fa fa-2x fa-linkedin-square"></i>
  </button>

  <button type="button" class="btn-circle">
    <i class="fa fa-2x fa-instagram"></i>
  </button>

  <button type="button" class="btn-circle">
    <i class="fa fa-2x fa-facebook-square"></i>
  </button>
  <!-- End Header -->

  {% block content %}
  {% endblock %}

</div>
<!-- End Content -->

<!-- Footer -->
<div class="footer text-center">

  <p>Gonzalez Welding Mobile ©2017</p>
  <div>
    <a href="{% url 'pages:home'  %}">Home</a>
    <a href="{% url 'pages:about' %}">About</a>
    <a href="{% url 'pages:work'  %}">Work</a>
    <a href="{% url 'pages:testimonials' %}">Testimonials</a>
    <a href="{% url 'pages:contact' %}">Contact</a>
  </div>

</div>
<!-- End Footer -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>

{% block script %}
{% endblock %}

</body>
</html>
