{% extends "pages/base.html" %}
{% load static %}

{% block content %}
  <!-- Contact & Map -->
  <div class="row gwm-mt gwm-mb gwm-text-left">

    <!-- Map -->
    <div class="col-md-5 col-md-offset-1">

      <h2 class="gwm-header2">
        <span class="gwm-letter">I</span>nformation
      </h2>

      <p>gwmcarlos@gonzalezwelding.com [(925) 550-6273]</p>
      <div class="gwm-map" id="map"></div>

    </div>
    <!-- End Map -->

    <!-- Contact -->
    <div class="col-md-5">

      <h2 class="gwm-header2">
        <span class="gwm-letter">C</span>ontact Us
      </h2>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {% if form.errors %}
        <div class="alert alert-warning alert-dismissible">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Warning!</strong> {{ form.errors }}
        </div>
      {% endif %}

      <form action="" method="post">

        {% for field in form %}

          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
          </div>

        {% endfor %}

        {% csrf_token %}
        <input type="submit" class="btn btn-danger pull-right" value="Submit">
      </form>

    </div>
    <!-- End Contact -->

  </div>
  <!-- End Contact & Map -->
{% endblock %}

{% block script %}
<script>
  $("#contact").addClass("active");
  function initMap() {

    var location = {lat: 37.965, lng: -121.696};
    var map = new google.maps.Map(document.getElementById('map'), {

      zoom: 14,
      center: location
    });

    var marker = new google.maps.Marker({

      position: location,
      map: map
    });
  }
</script>
<script
  async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&content_copy&callback=initMap">
</script>
{% endblock %}