{% extends "pages/base.html" %}
{% load static %}

{% block link %}
  <link rel="stylesheet"
        href="{% static 'css/projects.css' %}"/>
  <link rel="stylesheet"
        href="{% static 'css/work.css' %}"/>
{%  endblock %}

{% block content %}

  {% with objects as projects %}
  {% if projects %}

    <!-- Display Projects -->
    <div class="projects">
    {% for project in projects %}

      <div class="project">

        <h3 class="gwm-text-left"> {{ project.title }} </h3>
        <p class="gwm-text-left"> {{ project.description }} </p>
        <br/>

        {% for image in project.images.all %}

          <div class="modal fade" id="{{ image.id }}" tabindex="-1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <img  class="enlarged" src="{{ image.image_field.url }}"/>
              </div>
            </div>
          </div>

          <img class="preview" src="{{ image.image_field.url }}"
               data-toggle="modal" data-target="#{{ image.id }}"/>
        {% endfor %}

      </div>

    {% endfor %}
    </div>
    <!-- End Display Projects -->

    {% include 'subtemplates/pagination.html' %}

  {% endif %}
  {% endwith %}

{% endblock %}

{% block script %}
  <script>
    document.getElementById("work").className += " active";
  </script>
{% endblock %}
