{% extends 'workbench/base.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet"
        href="{% static 'css/workbenchform.css' %}"/>
  <link rel="stylesheet"
        href="{% static 'css/projectform.css' %}"/>
{% endblock %}

{% block content %}

  <h1> Create Project </h1>

  {% if form.errors %}

    <div class="alert alert-danger alert-dismissible alertwrapper">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      {{ form.title.errors }}
      {{ form.description.errors }}
      {{ form.images.errors }}
    </div>

  {% endif %}

  <form action="{% url 'projects:create' %}" id="projectform"
        method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="fieldwrapper">
      <label for="{{ form.title.id_for_label }}"> Project Title </label>
      <br/>
      {{ form.title }}
    </div>

    <div class="fieldwrapper">
      <label for="{{ form.description.id_for_label }}"> Description </label>
      <br/>
      {{ form.description }}
    </div>

    <div class="gwm-text-left fieldwrapper">
      <label for="{{ form.public.id_for_label }}"> Make Public: </label>
      {{ form.public }}
    </div>

    <div class="fieldwrapper">
      {{ form.images }}
    </div>

    <div class="submitwrapper">
      <a href="{% url 'projects:manager' %}" class="btn btn-warning" id="cancel"> Cancel </a>
      <input class="btn btn-success" type="submit" id="submit" value="Submit Project" />
    </div>

  </form>

{% endblock %}

{% block script %}
  <script src="{% static 'js/disableform.js' %}"></script>
{% endblock %}