{% extends 'workbench/base.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet"
        href="{% static 'css/projectforms.css' %}"/>
  <link rel="stylesheet"
        href="{% static 'css/projects.css' %}"/>
{% endblock %}

{% block content %}

  <h1> Delete <i>{{ project.title }}</i>? </h1>


    {% csrf_token %}

    <div class="fieldwrapper">
      <div class="project">

        <h3 class="align-left"> {{ project.title }} </h3>
        <p class="align-left"> {{ project.description }} </p>
        <br/>

        {% for image in project.images.all %}
          <img class="preview" src="{{ image.image_field.url }}"/>
        {% endfor %}

      </div>
    </div>

    <div class="submitwrapper">
      <a href="{% url 'projects:manager' %}" class="btn btn-success" id="cancel"> Cancel </a>
      <button class="btn btn-danger" id="delete"> Confirm Delete </button>
    </div>

{% endblock %}

{% block script %}
  <script src="{% static 'js/deleterequest.js' %}"></script>
{% endblock %}
