<!DOCTYPE html>
{% load static %}

<html>
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <title>GWM Workbench</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="{% static 'css/gwm.css' %}">

  {% block link %}
  {% endblock %}

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-lightlink">
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navlinks">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand">
          <a href="{% url 'pages:home' %}">GWM</a>
      </div>

    </div>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navlinks">

      <ul class="nav navbar-nav nav-pills">

        <!--
        <li id="home">
          <a href="{% url 'workbench:workbench' %}">Workbench</a>
        </li>
        -->

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Projects
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'projects:manager'%}"> Manage Projects </a></li>
            <li><a href="{% url 'projects:create' %}"> Create Project </a></li>
          </ul>
        </li>

        <!--
        <li id="reviews">
          <a>Reviews</a>
        </li>
        -->

      </ul>

      {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav nav-pills navbar-right">

          <li id="logout">
            <a href="{% url 'workbench:logout' %}"> Logout </a>
          </li>

        </ul>
      {% endif %}

    </div>
    <!-- End Navigation Links -->

  </div>
</nav>
<!-- End Navigation -->

<!-- Content -->
<div class="text-center">

  <!-- Header -->
  <h1 class="gwm-header1">
    <span class="gwm-letter">G</span>WM
    <span class="gwm-letter">W</span>orkbench
  </h1>

  {% block content %}
  {% endblock %}

</div>
<!-- End Content -->

<!-- Footer -->
<div class="footer text-center">
  <p>Gonzalez Welding Mobile ©2017</p>
</div>
<!-- End Footer -->

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>

{% block script %}
{% endblock %}

</body>
</html>
