{% extends 'workbench/base.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet"
        href="{% static 'css/projectforms.css' %}"/>
{% endblock %}

{% block content %}

<h1>Editing <i>{{ project.title }}</i>!</h1>

  {% if form.errors %}
    <div class="alert alert-danger alert-dismissible alertwrapper">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      {{ form.title.errors }}
      {{ form.description.errors }}
      {{ form.images.errors }}
    </div>
  {% endif %}

  <form action="{% url 'workbench:modifyproject' %}{{ project.id }}" id="projectform"
        method="post" enctype="multipart/form-data" >

    {% csrf_token %}

    <div class="fieldwrapper">
      <label for="{{ form.title.id_for_label }}"> Project Title </label>
      <br/>
      {{ form.title }}
    </div>

    <div class="fieldwrapper">
      <label for="{{ form.description.id_for_label }}"> Description </label>
      <br/>
      {{ form.description }}
    </div>

    <div class="fieldwrapper">
      {{ form.images }}
    </div>

    <div class="fieldwrapper">
      {% for checkbox in form.checkboxes %}
        {{ checkbox }}
      {% endfor %}
    </div>

    <div class="submitwrapper">
      <a href="{% url 'workbench:manageprojects' %}" class="btn btn-warning" id="cancel"> Cancel </a>
      <input class="btn btn-success" type="submit" id="submit" value="Save Changes" />
    </div>

  </form>

{% endblock %}

{% block script %}

  <script>

      // Attach images to checkboxes

      var images = [];
      {% for image in project.images.all %}
      images.push("{{ image.image_field.url }}");
      {% endfor %}

      images.forEach(function(url, index) {

          var label = document.querySelector("[for='id_checkboxes_" + index + "']");
          label.insertAdjacentHTML("beforeend", "<img src='" + images[index] + "'/>");
      });

  </script>

  <script src="{% static 'js/disablebuttons.js' %}">
  </script>

{% endblock %}
